---
import Base from "@layouts/Base.astro";
import RecentPosts from "@components/RecentPosts.astro";
---

<Base>
  <article>
    <header><h1>우엉의 블로그</h1></header>
    <p>
      우엉이 알게 된 것들을 자유롭게 적는 공간입니다.
    </p>
  </article>
  <hr />
  <RecentPosts />
</Base>
