---
const currentYear = new Date().getFullYear();
---

<footer>
  <p>&copy; 2025-{currentYear} Wooyoung Jung</p>
  <nav>
    <ul>
      <li><a href={`${import.meta.env.BASE_URL}about`}>GitHub</a></li>
      <li><a href={`${import.meta.env.BASE_URL}blog`}>Astro</a></li>
      {/* Add other navbar entries here */}
    </ul>
  </nav>
</footer>
{/* CSS required to keep footer at the bottom of the page */}
<style>
  footer {
    position: sticky;
    top: 100vh;
  }
</style>
