---
import NavLink from "./NavLink.astro";
---

<header>
  <nav aria-label="Main">
    <ul>
      <li>
        <a href="/">
          <strong>smallworld</strong>
        </a>
      </li>
    </ul>
    <ul>
      <li><NavLink path="about">About</NavLink></li>
      <li><NavLink path="blog">Blog</NavLink></li>
      {/* Add other navbar entries here */}
    </ul>
  </nav>
</header>
